<div class="row">
  <div class="col-md-6 d-md-block bannerImg">
  </div>
  <div class="col-md-6 justify-content-center divForm">

    <div class="registration-form">
      <div>
        <h2 class="title-login">Actualizar Contraseña</h2>
        <h4>Para restablecer la contraseña debe crear una nueva.</h4>
        <p>Tenga en cuenta estas características al crear la contraseña:</p>
        <ul>
          <li>La longitud ideal es de 8 y 12 caracteres.</li>
          <li>Debe incluir mayúsculas.</li>
          <li>Debe incluir minúsculas.</li>
          <li>Debe incluir números</li>
          <li>Debe incluir un carácter especial como mínimo (. , _ ).</li>
        </ul>
      </div>
      <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline">
          <mat-label>Contraseña actual</mat-label>
          <input matInput [type]="viewPass1 ? 'text' : 'password'" placeholder="******" formControlName="NowPassword">
          <mat-icon matSuffix (click)="changeViewPassword(1)">remove_red_eye</mat-icon>
          <mat-error *ngIf="updatePasswordForm.get('NowPassword')?.hasError('required')">Campo requerido</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput [type]="viewPass2 ? 'text' : 'password'" placeholder="******" formControlName="NewPassword"
            (blur)="validatePassword()" (input)="validatePassword()">
          <mat-icon matSuffix (click)="changeViewPassword(2)">visibility</mat-icon>
          <mat-error *ngIf="updatePasswordForm.get('NewPassword')?.hasError('required')">Campo requerido</mat-error>
          <mat-error *ngIf="updatePasswordForm.get('NewPassword')?.hasError('pattern')">Por favor valida que cumplas
            con las indicaciones de la contraseña.</mat-error>
          <mat-error *ngIf="updatePasswordForm.get('NewPassword')?.hasError('minlength')">El campo debe tener mínimo
            8
            caracteres</mat-error>
          <mat-error *ngIf="updatePasswordForm.get('NewPassword')?.hasError('maxlength')">El campo debe tener máximo
            12 caracteres</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field appearance="outline">
          <mat-label>Nueva contraseña</mat-label>
          <input matInput [type]="viewPass3 ? 'text' : 'password'" placeholder="******"
            formControlName="RepetNewPassword" (blur)="validatePassword()" (input)="validatePassword()">
          <mat-icon matSuffix (click)="changeViewPassword(3)">visibility</mat-icon>
          <mat-error *ngIf="updatePasswordForm.get('RepetNewPassword')?.hasError('required')">Campo
            requerido</mat-error>
          <mat-error *ngIf="updatePasswordForm.get('RepetNewPassword')?.hasError('pattern')">Debe contener números y
            signos especiales como: '%' , '-' , '.' , y "&#64;".</mat-error>
          <mat-error *ngIf="updatePasswordForm.get('RepetNewPassword')?.hasError('minlength')">El campo debe tener
            mínimo 8 caracteres</mat-error>
          <mat-error *ngIf="updatePasswordForm.get('RepetNewPassword')?.hasError('maxlength')">El campo debe tener
            máximo 12 caracteres</mat-error>
          <mat-error style="font-size: 12px;" *ngIf="!coincidirPassword">Las contraseñas no coinciden</mat-error>
        </mat-form-field>
        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-success" style="background-color: #006633;">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #messagess>
  <h1> {{messagges.title}} </h1>
  <p> {{messagges.contend}} </p>
  <div class="col-md-12 alnRight">
    <button mat-button style="color:#006633;" (click)="closemodal()">Aceptar</button>
  </div>
</ng-template>