<header class="bg-dark text-white banner">

  <div class="row">
    <div class="col">

    </div>
  </div>

</header>

<main class="py-5">

  <div class="row justify-content-center">
    <div class="col-sm-4">

      <div *ngIf="steep=='sendEmail'">
        <h2>Restablecer Contraseña</h2>
        <h4>Para restablecer tu contraseña, por favor ingresa el correo electrónico asociado a tu cuenta.</h4>

        <form [formGroup]="preregisterForm" (ngSubmit)="enviarEmail()">
          <mat-form-field appearance="outline">
            <mat-label>Correo</mat-label>
            <input matInput type="email" placeholder="mailmail.com" formControlName="email" (blur)="validatePassword()">
            <mat-error *ngIf="preregisterForm.get('email')?.hasError('required')">Campo requerido</mat-error>
            <mat-error *ngIf="preregisterForm.get('email')?.hasError('email')">Correo electrónico inválido</mat-error>
          </mat-form-field>

          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success" style="background-color: #006633;">Enviar</button>
          </div>
        </form>
      </div>

      <div *ngIf="steep=='changePass'">
        <div>
          <h2>Restablecer contraseña</h2>
          <h5>Para restacleder la contraseña debe crear una nueva.</h5>
          <ul>
            <li>La longitud ideal es de 8 y 12 caracteres.</li>
            <li>Debe incluir mayúsculas.</li>
            <li>Debe incluir minúsculas.</li>
            <li>Debe incluir números</li>
            <li>Debe incluir un carácter especial como mínimo (. , _ ).</li>
          </ul>
        </div>
        <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
          <mat-form-field appearance="outline">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="viewPass2 ? 'text' : 'password'" placeholder="******" formControlName="NewPassword"
              (blur)="validatePassword()">
            <mat-icon matSuffix (click)="changeViewPassword(2)">visibility</mat-icon>
            <mat-error *ngIf="updatePasswordForm.get('NewPassword')?.hasError('required')">Campo requerido</mat-error>
            <mat-error *ngIf="updatePasswordForm.get('NewPassword')?.hasError('pattern')">Por favor valida que cumplas
              con las indicaciones de la contraseña.</mat-error>
            <mat-error *ngIf="updatePasswordForm.get('NewPassword')?.hasError('minlength')">El campo debe tener mínimo
              8
              caracteres</mat-error>
            <mat-error *ngIf="updatePasswordForm.get('NewPassword')?.hasError('maxlength')">El campo debe tener máximo
              10 caracteres</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field appearance="outline">
            <mat-label>Nueva contraseña</mat-label>
            <input matInput [type]="viewPass3 ? 'text' : 'password'" placeholder="******"
              formControlName="RepetNewPassword" (blur)="validatePassword()">
            <mat-icon matSuffix (click)="changeViewPassword(3)">visibility</mat-icon>
            <mat-error *ngIf="updatePasswordForm.get('RepetNewPassword')?.hasError('required')">Campo
              requerido</mat-error>
            <mat-error *ngIf="updatePasswordForm.get('RepetNewPassword')?.hasError('pattern')">Debe contener números y
              signos especiales como: '%' , '-' , '.' , y "&#64;".</mat-error>
            <mat-error *ngIf="updatePasswordForm.get('RepetNewPassword')?.hasError('minlength')">El campo debe tener
              mínimo 8 caracteres</mat-error>
            <mat-error *ngIf="updatePasswordForm.get('RepetNewPassword')?.hasError('maxlength')">El campo debe tener
              máximo 10 caracteres</mat-error>

          </mat-form-field>
          <br>
          <mat-error *ngIf="!coincidirPassword">Las contraseñas no coinciden</mat-error>
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-success" style="background-color: #006633;">Enviar</button>
          </div>
        </form>
      </div>

      <div class="mt-5 d-flex justify-content-center align-items-center">
        <span>Regresar a <a routerLink="/login">Iniciar sesión</a> </span>
      </div>


    </div>
  </div>

</main>

<ng-template #messagess>
  <h1> {{messagges.title}} </h1>
  <p> {{messagges.contend}} </p>
  <div class="col-md-12 alnRight">
    <button mat-button style="color:#006633;" (click)="closemodal()">Aceptar</button>
  </div>
</ng-template>